.home-body {
    display: flex;
    min-height: 100vh;
    font-family: 'Poppins';
    flex-direction: column;
    background-color: rgb(240, 240, 255);
}

.home-section {
    flex: 1;
    padding: 50px 0px;
}

.home-segment {
}

.home-head {
    font-size: 3rem;
    text-align: center;
    border: solid black 1px;
}

/* Footer Body */

.footer-body {
    text-align: center;
}

.footer-link {
    color: black;
    text-decoration: none;
}